{{ define "main" }}
<article>
  <h1>Grid Works</h1>
  
  {{ with .Site.GetPage "section" "grid-works" }}
    {{ .Content }}
    <div class="gif-grid constrained">
      {{ $pages := .Pages }}
      {{ range sort $pages "File.Dir" "asc" }}
      <figure>
        <a href="{{ .RelPermalink }}">
          {{ $seriesGifs := .Resources.Match "*.gif" }}
          {{ with index (sort $seriesGifs "Name" "asc") 0 }}
            <img src="{{ .RelPermalink }}" alt="{{ .Name }}" />
          {{ end }}
        </a>
        <figcaption><a href="{{ .RelPermalink }}">{{ .Title }}</a></figcaption>
      </figure>
      {{ end }}
    </div>
  {{ end }}

  <h1>Stories</h1>
  {{ range .Site.RegularPages }}
  <div>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <hr />
  </div>
  {{ end }}
</article>
{{ end }}
